.title {
    margin: 100px 0 20% 0;
    flex-direction: column;

}

.title > h1 {
    letter-spacing: 0.2px;
    font-size: 20px;
    padding-bottom: 3px;
    margin: 0;
    border: 0;
    color: #002333;
}

.title > h2 {
    letter-spacing: 0.2px;
    font-size: 18px;
    padding-bottom: 3px;
    font-weight: 400;
    margin: 0;
    border: 0;
    color: #002333;
}